{% extends 'blog/base.html' %}

{% block content %}

{% if form.errors %}
    <p>Acceso invalido</p>
{% endif %}
<form method="POST" class="post-form">{% csrf_token %}
    <!--
        este es el diseño de django para el login

        {{ form.as_p }}
    
        <button type="submit">Login</button>
    -->
    
    <label for="user">User</label>
	<input type="text" name="username" placeholder="user">
    <label for="pass">Password</label>
    <input type="password" name="password" placeholder="pass">
	<input type="submit" value="Iniciar">
</form>

{% endblock %}