{% extends 'blog/base.html' %}

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
    <label for="id_username">Nombre de usuario:</label>
    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
    <label for="id_password">Contraseña:</label>
    <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
</form>
<input type="submit" value="login">
{% endblock %}