{% extends 'blog/base.html' %}

{% block content %}
<h2>Registrar usuario</h2>
{% if form.errors %}
    <p>Acceso invalido</p>
{% endif %}
<form method="POST" class="post-form" >{% csrf_token %}
   {{ form.as_p }}   
   <!-- 
    <label for="email">Mail</label>
	<input type="email" name="Email" placeholder="email">
    
    <label for="user">User</label>
	<input type="text" name="username" placeholder="user">
    
    <label for="pass">Password</label>
    <input type="password" name="password1" placeholder="pass">
    
    <label for="pass2">Confirmacion Password</label>
    <input type="password" name="password2" placeholder="pass">
-->
	<button type="submit">Registrar</button>
 
</form>

<hr />

<a href="{% url 'login' %}">Iniciar sesión</a>
{% endblock %}